<title>恨股网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="<{$article.summary}>" />
<meta name="keywords" content="<{$article.keyword}>" />
<import type='css' file="css.global,css.style" />
<import file="js.function,js.tools,js.jquery" />
</head>
<body>
<div class="top">
  <div class="page">
    <div class="ny-logo"><a href="__ROOT__"><img src="__PUBLIC__/images/logo-ny.png" width="165" height="55"></a></div>
    <div class="user2">
      <h3><a href="__ROOT__"><img src="__PUBLIC__/images/q8.jpg" width="36" height="27"></a></h3>
    </div>
    <div class="search-ny">
      <input name="code" type="text" id="_code">
      <a href="javascript:void(0);" onclick="searchCode('__APP__')"><img src="__PUBLIC__/images/search-img-2.jpg" width="57" height="32" border="0"></a></div>
  </div>
</div>