<div class="bq">
    <div class="phone">
		<span><a href="<{:U('Index/Index/about')}>"  style="color:#b7b7b7;">关于我们</a></span>
		<span>　　EMAIL:3012644588@qq.com</span>
		<span>　　联系我们：QQ 3012644588</span><br>
		  本站所载文章及数据仅供分享，不可作为投资依据，股市有风险，入市需谨慎。
	</div>
    <div class="copyright">Copyright © 恨股网. All Rights Reserved</div>
</div>
