<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Motel Champlain</title>
<import type='css' file="css.global,css.style" />
<import file="js.function,js.tools,js.jquery" />
</head>
<body>
<div class="top">
  <div class="page">
    <div class="ny-logo"><img src="__PUBLIC__/images/logo-ny.png" width="165" height="55"></div>
    <div class="user2">
      <h3><a href="#"><img src="__PUBLIC__/images/q8.jpg" width="36" height="27"></a></h3>
    </div>
    <div class="search-ny">
      <input name="code" type="text" id="_code">
      <a href="javascript:void(0);" onclick="searchCode('__APP__')"><img src="__PUBLIC__/images/search-img-2.jpg" width="57" height="32" border="0"></a></div>
  </div>
</div>
<div class="page">
	<div class="dlym">
	<div class="Menubox3">
    <ul class="Gray">
      <li id="zc1" onMouseOver="setTab('san',1,2)"  class="hover"><a href="#"><img src="__PUBLIC__/images/dl.jpg" width="266" height="50"></a></li>
      <li id="zc2" onMouseOver="setTab('san',2,2)" ><a href="<{:U('Index/Login/checkreg')}>"><img src="__PUBLIC__/images/zc.jpg" width="266" height="50"></a></li>
    </ul>
  </div>
  <div class="dlym-sr">
  <form class="form-signin" role="form" action="<{:U('Login/checkLogin')}>" method="post">
  <div class="dl"><input name="username" type="text"></div>
  <div class="dl2"><input name="password" type="password"></div>
  <div class="dlts"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="229"><span><input name="" type="checkbox" value="">
  下次自动登录</span></td>
    <td width="77"><a href="<{:U('Index/Login/lost')}>"> 忘记密码</a></td>
  </tr>
</table>

  </div>
  <div class="anniu"><input type="image" src="__PUBLIC__/images/pic8.jpg"/></div>
  </form>
  </div>
  <div style="clear:both;display:block; "></div>
</div>
<div class="blank250"></div>
</div>
<!-- footer start -->
<include file="Public:_footer" />
<!-- footer end -->
</body>
</html>