<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Motel Champlain</title>
<import type='css' file="css.global,css.style" />
<import file="js.function,js.tools,js.jquery" />
</head>
<body>
<div class="top">
  <div class="page">
    <div class="ny-logo"><img src="__PUBLIC__/images/logo-ny.png" width="165" height="55"></div>
    <div class="user2">
      <h3><a href="#"><img src="__PUBLIC__/images/q8.jpg" width="36" height="27"></a></h3>
    </div>
    <div class="search-ny">
      <input name="code" type="text" id="_code">
      <a href="javascript:void(0);" onclick="searchCode('__APP__')"><img src="__PUBLIC__/images/search-img-2.jpg" width="57" height="32" border="0"></a></div>
  </div>
</div>
<div class="page">
	<div class="dlym">
	<div class="Menubox3">
    <ul class="Gray">
      <li><a href="登录.htm"><img src="__PUBLIC__/images/pic14.jpg" width="456" height="50"></a></li>
    </ul>
  </div>
  <div class="dlym-sr2">
    <div class="zc"><span class="wz">用户名：</span><span class="srk">
    <input name="" type="text"></span></div>
    <div class="zc"><span class="wz">邮　箱：</span><span class="srk"><input name="" type="text"></span></div>
    <div class="blank15"></div>
    <div class="blank15"></div>
	<div class="anniu"><a href="#"><img src="__PUBLIC__/images/pic15.jpg" width="240" height="41" border="0"></a></div>

  </div>
  <div style="clear:both;display:block; "></div>
</div>
<div class="blank100"></div>
</div>
<!-- footer start -->
<include file="Public:_footer" />
<!-- footer end -->
</body>
</html>