<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{$metas['keywords']}">
<meta name="description" content="{$metas['description']}">
<title>关于我们</title>
<import type='css' file="css.global,css.style" />
<import file="js.function,js.tools,js.jquery" />
<style type="text/css">
<!--
.STYLE4 {color: #FFCC66}
.STYLE6 {color: #000000}
.STYLE7 {font-size: 14px}
.STYLE8 {color: #FFFFFF}
-->
</style>
</head>
<body style="background-image:url(__PUBLIC__/images/bg.jpg)">
<div class="top">
  <div class="page">
    <div class="ny-logo"><img src="__PUBLIC__/images/logo-ny.png" width="165" height="55"></div>
    <div class="user2">
      <h3><a href="#"><img src="__PUBLIC__/images/q8.jpg" width="36" height="27"></a></h3>
    </div>
    <div class="search-ny">
      <input name="code" type="text" id="_code">
      <a href="javascript:void(0);" onclick="searchCode('__APP__')"><img src="__PUBLIC__/images/search-img-2.jpg" width="57" height="32" border="0"></a></div>
  </div>
</div>
<div class="page" style="background-image:url(__PUBLIC__/images/bg.jpg)">
  <div class="blank15">
    <div align="left" class="STYLE7 STYLE8" style="line-height:20px" lineheight=20px><a href="<{:U('Index/Index/index')}>"  style="color:#FFF;">首页</a>  —— 关于我们</div>
  </div>
    <div class="blank30">  </div>
  
  <div >

  <div class="zwbt STYLE8"  >我们只是——小散户</div>
  <div class="blank30"></div>
  <div >
    <p align="center" class="zwbt STYLE8" style="font-size:25px;text-align:left;"><img src="__PUBLIC__/images/cgkm.jpg" width="210" height="210" style="float:right">我们只是不小心掉进A股这个坑，</p>
    <p align="center" class="zwbt STYLE6" style="font-size:25px;text-align:left;"><span style="color: #FFFFFF">又爱又恨，又很难弃之而去的家伙，</span> <br>
        <br>
        <span class="STYLE8">我们只是几个想赚点首期款、奶粉钱，	  </span></p>
    <p align="center" class="zwbt STYLE8" style="font-size:25px;text-align:left;">结果，
      在2008年跌的半身不遂，</p>
    <p align="center" class="zwbt STYLE6" style="font-size:25px;text-align:left;"><span style="color: #FFFFFF">2015年才TM爬起来的家伙，</span>　 <br>
        <br>
        <span class="STYLE8">我们只是几个没搞懂市场为何如此疯狂，</span></p>
    <p align="center" class="zwbt STYLE6" style="font-size:25px;text-align:left;"><span style="color: #FFFFFF">想把炒股变简单点的家伙，</span>　<br>
        <br>
        <span class="STYLE8">我们只是几个有点无聊，</span></p>
    <p align="center" class="zwbt STYLE6" style="font-size:25px;text-align:left;"><span style="color: #FFFFFF">想折腾点事儿的家伙，</span> <br>
        <br>
        <span class="STYLE8">我们只是——几个小散户。</span></p>
    <p align="center" class="STYLE4" style="font-size:25px;text-align:center;">&nbsp;</p>
    <p align="center" class="zwbt STYLE4" style="font-size:25px;text-align:center;"><br>
        <br>
        <br>
    </p>
  </div>
  </div>
  
  <div class="STYLE4" style="clear:both;display:block; "></div>
</div>
<div class="di">
	<div class="page">
    <div  class="tt">EMAIL:xxx@xxxx.com QQ:3012644588<br>
本站所载文章及数据仅供分享，不可作为投资依据，股市有风险，入市需谨慎。</div></div>
</div>
</body>
</html>