<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Motel Champlain</title>
<import type='css' file="css.global,css.style" />
<import file="js.function,js.tools,js.jquery" />
<link href="__PUBLIC__/css/silder.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/highstock.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/chartExt.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/slides.min.jquery.js"></script>
</head>
<body>
<div class="top">
  <div class="page">
    <div class="ny-logo"><a href="__URL__"><img src="__PUBLIC__/images/logo-ny.png" width="165" height="55"></a></div>
    <div class="user2">
      <h3><a href="#"><img src="__PUBLIC__/images/q8.jpg" width="36" height="27"></a></h3>
    </div>
    <div class="search-ny">
      <input name="code" type="text" id="_code">
      <a href="javascript:void(0);" onclick="searchCode('__APP__')"><img src="__PUBLIC__/images/search-img-2.jpg" width="57" height="32" border="0"></a></div>
  </div>
</div>
<div class="page">
    <div class="zs-left" style="display: none"><a href="#"><img src="__PUBLIC__/images/left.jpg" width="15" height="27" border="0"></a></div>
    <div class="zs-right" style="display: none"><a href="#"><img src="__PUBLIC__/images/right.jpg" width="15" height="27" border="0"></a></div>
<div class="ny-left">
	<div class="gszl">
		<p>公司资料</p>
		<ul>
			<li class="z1"><a href="http://guba.eastmoney.com/list,<{$data['stock']['code']}>.html" target="_blank">公司股吧</a></li>
			<li class="z2"><a href="http://data.p5w.net/stock/fxpj.php?code=<{$data['market']}><{$data['stock']['code']}>" target="_blank">投资评级</a></li>
			<li class="z1"><a href="http://vip.stock.finance.sina.com.cn/corp/go.php/vCB_AllNewsStock/symbol/<{$data['market']}><{$data['stock']['code']}>.phtml" target="_blank">公司新闻</a></li>
			<li class="z2"><a href="http://data.eastmoney.com/report/<{$data['stock']['code']}>.html" target="_blank">盈利预测</a></li>
			<li class="z1"><a href="http://data.p5w.net/stock/lsgg.php?code=<{$data['market']}><{$data['stock']['code']}>" target="_blank">公司公告</a></li>
			<li class="z2"><a href="http://data.eastmoney.com/zjlx/<{$data['stock']['code']}>.html" target="_blank">资金流向</a></li>
			<li class="z1"><a href="http://f10.eastmoney.com/f10_v2/FinanceAnalysis.aspx?code=<{$data['market']}><{$data['stock']['code']}>" target="_blank">财务数据</a></li>
			<li class="z2"><a href="http://vip.stock.finance.sina.com.cn/q/go.php/vReport_List/kind/search/index.phtml?symbol=<{$data['stock']['code']}>&t1=all" target="_blank">公司研报</a></li>
			<li class="z1"><a href="http://f10.eastmoney.com/f10_v2/ShareholderResearch.aspx?code=<{$data['market']}><{$data['stock']['code']}>" target="_blank">主要股东</a></li>
			<li class="z2"><a href="http://vip.stock.finance.sina.com.cn/corp/go.php/vCI_CorpInfo/stockid/<{$data['stock']['code']}>.phtml" target="_blank">公司概况</a></li>
		</ul>
		<div style="clear:both;display:block; "></div>
	</div>
	<div class="gszl">
		<p>涨幅榜（<{$data['maxdate']|strtotime|date='md',###}>）</p>
		<div class="tline">
			<ul>
				<li class="fj1 blue">名称</li>
				<li class="fj2 blue">最新价</li>
				<li class="fj3 blue">涨幅</li>
			</ul>
		</div>
		<volist name="data['uplist']" id="vo">
			<div class="tline">
				<ul>
					<li class="fj1"><a href="__URL__/Index/main/code/<{$vo.ob_seccode}>" target="_blank"><{$vo.ob_secname}></a></li>
					<li class="fj2"><{$vo.f007n}></li>
					<li class="fj3 red"><{$vo.f015n}>%</li>
				</ul>
			</div>
		</volist>


	</div>
	<div class="gszl">
		<p>跌幅榜（<{$data['maxdate']|strtotime|date='md',###}>）</p>
		<div class="tline">
			<ul>
				<li class="fj1 blue">名称</li>
				<li class="fj2 blue">最新价</li>
				<li class="fj3 blue">跌幅</li>
			</ul>
		</div>
		<volist name="data['downlist']" id="vo">
			<div class="tline">
				<ul>
					<li class="fj1"><a href="__URL__/Index/main/code/<{$vo.ob_seccode}>" target="_blank"><{$vo.ob_secname}></a></li>
					<li class="fj2"><{$vo.f007n}></li>
					<li class="fj3 green"><{$vo.f015n}>%</li>
				</ul>
			</div>
		</volist>

	</div>
</div>
<div class="ny-center">
  <div class="gegu">
    <div class="gumc"><{$data['stock']['name']}>
		<p>（<{$data['stock']['code']}>）</p>
	</div>
    <div class="sj"><span>涨幅：<{$data['trade']['s10']}>% </span><span>现价：<{$data['trade']['s6']}>元 </span><span>涨跌：<{$data['trade']['s11']}></span><span>今开：<{$data['trade']['s3']}>元</span><span>最高：<{$data['trade']['s4']}>元</span><span>最低：<{$data['trade']['s5']}>元</span></div>
  </div>
  <div class="comment">统计显示，日K线历史上相似走势共：<{$data['probability']['num1']}>个；<{$data['probability']['days1']}>个交易日上涨概率<{$data['probability']['fiveDayUp1']|round=###,2}>%，涨幅超过5%的概率<{$data['probability']['fiveDayUp51']|round=###,2}>%，涨幅超过10%的概率为<{$data['probability']['fiveDayUp101']|round=###,2}>%；10日交易日涨幅超过5%的概率为<{$data['probability']['tenDayUp51']|round=###,2}>%，涨幅超过10%的概率为<{$data['probability']['tenDayUp101']|round=###,2}>%。（下图中ABCDE标记的即为相似K线）</div>
  <div class="Menubox">
    <ul class="Gray">
		<li id="san1" class="hover"><a href="#">日 线</a></li>
	</ul>
  </div>
  <div class="Contentbox">
		<div id="con_san_1" class="hover" style="height: 349px;width: 474px;padding:0;">
			<div id="container" style="height: 349px;width: 474px">
			</div></div>
		<div id="con_san_2" style="display:none"> <img src="__PUBLIC__/images/pic1.jpg" width="474" height="349"> </div>
  </div>
  <div class="Menubox2">
    <ul class="Gray">
		<li id="er1" class="hover"><a href="#">历史类似走势</a></li>
	</ul>
  </div>
  <div id="slides">
		<div class="slides_container" >
		<if condition="$data['trend']">

			<volist  name="data['trend']" id="vo">
				<div class="slide">
					<div class="lszs">
						<p><a href="__URL__/view/code/<{$vo.code}>" target="_blank"><{$vo.name}>(<{$vo.code}>)</a> <span>历史相似日期：<{$vo.date}></span></p>
					</div>
					<div id="container<{$i}>" style="height: 349px;width: 474px;">
					</div>
				</div>
			</volist>

			<else/>
			<div class="slide">
				<div class="lszs">
						<p>你遇上了一个奇葩，这个走势在历史上没出现过哦！</p>
				</div>
					<div style="height: 349px;width: 474px;">
					</div>
			</div>
			</if>
		</div>
  </div>
<div class="clear"></div>
</div>
<div class="ny-right">
<if condition="$_SESSION[C('USER_AUTH_KEY_ID')]">
<div class="yh"><if condition="$persons.photo eq null">
            <img src="__PUBLIC__/images/pic4.jpg" width="63" height="63">
          <else/>
            <img src="__AVATAR__/avatar_<{$persons.photo}>" width="63" height="63"></if>
  <p>用户名：<{$persons.username}> <br>
    用户类型：<{$ranklist[$persons['user_rank']]}> <br>
	到期时间：<if condition="$persons['expires_time'] neq $persons['regtime']">
    <{$persons.expires_time|date='Y.m.d',###}><else/>永不过期</if></p>
  <div class="yhzx1 white"><a href="<{:U('Member/Person/index/')}>">个人中心</a></div>
  <div class="yhzx white"><a href="<{:U('Index/Index/support/')}>">我要赞助</a></div>
  <div style="clear:both;display:block; "></div>
</div>
<div class="kx">
  <p>K线选股</p>
  <div class="xuangu">
  <ul>
    <Volist name="kxxg_list" id="articles" >
    <li class="q<{$key+1}>"><a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>" title="<{$articles.title}>"><{$articles.title}></a></li>
	</Volist>
  </ul>
  </div>
</div>
<div class="kx">
  <p>财报选股</p>
  <Volist name="cbxg_list" id="articles" >
  <div <if condition="$key+1 eq count($cbxg_list)">class="jzx"<else />class="czx"</if>><a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>"><{$articles.title}></a></div>
  </Volist>
</div>
<div class="kx">
<p>研报推荐</p>
<div class="ybtj">
	<ul>
		<Volist name="ybtj_list" id="articles" >
		<li>· <a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>" title="<{$articles.title}>"><{$articles.title}></a></li>
		</Volist>
	</ul>
</div>
<div style="clear:both;display:block; "></div></div>
<div class="kx">
<p>专题</p>
<div class="ybtj">
	<ul>
		<Volist name="zt_list" id="articles" >
		<li>· <a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>" title="<{$articles.title}>"><{$articles.title}></a></li>
		</Volist>
    </ul>
</div>
<else />
<div class="kx">
    <p>K线选股</p>
<div class="jcyd">
	<ul>
    <Volist name="kxxg_list" id="articles" >
    <li class="q<{$key+1}>"><a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>" title="<{$articles.title}>"><{$articles.title}></a></li>
	</Volist>
	</ul>
</div>
<div style="clear:both;display:block; "></div></div>
 
    <div class="kx">
    <p>专题</p>
<div class="jcyd">
	<ul>
    <Volist name="zt_list" id="articles" >
	<li>· <a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>" title="<{$articles.title}>"><{$articles.title|msubstr=0,14,"utf-8",false}></a></li>
	</Volist>
	</ul>
</div>
<div style="clear:both;display:block; "></div></div>
<div class="banner-1"><img src="__PUBLIC__/images/banner.jpg" width="225" height="301"></div>

<div class="kx">
    <p>精彩阅读</p>
<div class="jcyd">
	<ul>
	    <Volist name="jcyd_list" id="articles" >
		<li><a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>" title="<{$articles.title}>"><{$articles.title|msubstr=0,15,"utf-8",false}></a></li>
		</Volist>
	</ul>
</div>
</if>
<div style="clear:both;display:block; "></div></div>
</div>
<div style="clear:both;display:block; "></div>
</div>
<!-- footer start -->
<include file="Public:_footer" />
<!-- footer end -->

<script type="text/javascript">
    //绘制K线图
    function tradeChart(){
        var url="__APP__/Index/Stock/kline";
        var stockCode = "<{$data['stock']['code']}>";
        var stockName = "<{$data['stock']['name']}>";
        var enddate="<{$data['maxdate']}>";
        new highStockChart('container',url, {"code":stockCode,"name":stockName,"enddate":enddate});
    <volist  name="data['trend']" id="vo">
        var stockCode2="<{$vo.code}>";
        var stockName2="<{$vo.name}>";
        var stockDate="<{$vo.date}>";
        new highStockChart('container<{$i}>',url,{"code":stockCode2,"name":stockName2,"date":stockDate});
    </volist>
        //$('.slide').eq(0).show();
    }

    function makesilder()
    {
        if (typeof useEffect == "undefined") { useEffect = 'slide' };
        var isTouch = typeof window.ontouchstart !== 'undefined';
        var mySildes = $('#slides');
        if (!isTouch && $('.slide', mySildes).size() > 1) {
            $('<a href="#" onfocus="this.blur()" class="prev"></a>').appendTo(mySildes).hide();
            $('<a href="#" onfocus="this.blur()" class="next"></a>').appendTo(mySildes).hide();
            // mySildes.hover(function () {
            $('.prev').show();
            $('.next').show();
            // }, function () {
            //     $('.prev').hide();
            //     $('.next').hide();
            //});

        }
        else {
            useEffect = 'slide';
        }
        mySildes.slides({
            preload: true,
            preloadImage: '__PUBLIC__/images/loading.gif',
            fadeSpeed: 1200,
            hoverPause: true,
            start: 1,
            effect: useEffect,
            crossfade: true,
            paginationClass: 'pagination',
            generatePagination: false,
            container: 'slides_container',
            animationStart: function (current) {
                //
                //alert(current);
            },
            animationComplete: function (current) {
                // var tmp = $('.slide', mySildes);
                // var b = parseInt($('.caption', tmp.eq(current - 1)).height() - 15);
                // $('.pagination').css({ bottom: b }).show();

            },
            slidesLoaded: function () {
                //var tmp = $('.slide', mySildes);
                //var b = parseInt($('.caption', tmp.eq(0)).height() - 15);
                //$('.pagination').css({ bottom: b }).show();
                //alert('load');
            }
        });
    }

    $(function() {
        tradeChart();
        makesilder();
    });
</script>

</body>
</html>