﻿<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>赞助我们</title>
<meta name="keywords" content="{$metas['keywords']}">
<meta name="description" content="{$metas['description']}">
<import type='css' file="css.global,css.style" />
<import file="js.function,js.tools,js.jquery" />
<style type="text/css">
<!--
.STYLE2 {font-size: 20px}
.STYLE3 {color: #FF0000} 
</style>
</head>
<body>
<div class="top">
  <div class="page">
    <div class="ny-logo"><img src="__PUBLIC__/images/logo-ny.png" width="165" height="55"></div>
    <div class="user2">
      <h3><a href="#"><img src="__PUBLIC__/images/q8.jpg" width="36" height="27"></a></h3>
    </div>
    <div class="search-ny">
      <input name="code" type="text" id="_code">
      <a href="javascript:void(0);" onclick="searchCode('__APP__')"><img src="__PUBLIC__/images/search-img-2.jpg" width="57" height="32" border="0"></a></div>
  </div>
</div>
<div class="page">
  <div class="ph-center">
  <div class="bzgl"><strong><a href="<{:U('Index/Index/index')}>"  style="color:#333;">首页</a></strong> ——  <strong>赞助我们</strong></div>
  <div class="bzbg">
  <table width="727" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr bgcolor="#B0C1E3">
            <td><table width="100%" border="0" cellspacing="1" cellpadding="6">
              <tr>
                <td colspan="7" align="left" bgcolor="#FFFFFF"><div align="left">
                  <p>　　<span class="STYLE2">《吕氏春秋 先识览 察微》：鲁国之法，鲁人为人臣妾於诸侯，有能赎之者，取其金於府。子贡赎鲁人於诸侯，来而让，不取其金。孔子曰：“赐失之矣。自今以往，鲁人不赎人矣。”</span></p>
                  <p><span class="STYLE2">　　取其金，则无损於行；不取其金，则不复赎人矣。子路拯溺者，其人拜之以牛，子路受之。孔子曰：“鲁人必拯溺者矣。”</span></p>
                  <p>　　　　</p>
                  <p>　　<span class="STYLE2">　善举亦需酬，赞助当有报。如您愿意资助我们活下去，我们能回报的只是本站的一些数据统计功能，或许帮不上什么忙，权表心意。</span></p>
                  <p align="center"><img src="__PUBLIC__/images/tuanjie.jpg" width="534" height="260"></p>
                  <p><span class="STYLE2">　　赞助费用统一为365元（少了不够造，多了不敢要^-^），完成赞助后请发送您的注册账号及汇款账号到QQ3012644588，我们将尽快为您开通<span class="STYLE3">终身免费</span>的权限。</span></p>
                  <p>&nbsp;</p>
				    <p>　　<span class="STYLE2"><strong>赞助方式一：</strong>扫描下方二维码使用微信支付</span></p>
				    <p align="center"><img src="__PUBLIC__/images/zz1.jpg"></p>
				    <p>&nbsp;</p>
				    <p>　<strong>　<span class="STYLE2">赞助方式二：</span></strong><span class="STYLE2">转账汇款</span></p>
                  <p>　　<span class="STYLE2">请汇款至：招商银行金丰城支行</span></p>
                  <p>　　<span class="STYLE2">收　款人：高杰</span>　　</p>
                  <p>　　<span class="STYLE2">收款账号：6214 8575 5133 8058</span></p>
                  <p>&nbsp;</p>
                  <p>　　<span class="STYLE2"><span class="STYLE3">注：</span>完成赞助后务必发送您的<span class="STYLE3">注册账号</span>及<span class="STYLE3">汇款账号</span>到QQ 3012644588。我们将尽快为您开通终身免费的权限。</span></p>
                  <p>　　<span class="STYLE2">您也可以在下面的留言框中留言告知我们。</span></p>
                  <br>
                  <div>
                    <form id="zzusrform" role="form" action="<{:U('Index/Index/addSupport')}>" method="post">
                    注册用户名: <input type="text" name="username">
                    <input type="submit" value="提交">
                    </form>
                    <textarea rows="8" cols="50" name="content" form="zzusrform" id="comment">请在此处输入您的汇款账号以及意见，并点击提交</textarea>
                     </div>
                  <p>&nbsp;</p>
                </div></td>
              </tr>
              
            </table></td>
          </tr>
        </table>
  </div>
  
  </div>
  
<div class="ny-right">
<if condition="$_SESSION[C('USER_AUTH_KEY_ID')]">
<div class="yh"><if condition="$persons.photo eq null">
            <img src="__PUBLIC__/images/pic4.jpg" width="63" height="63">
          <else/>
            <img src="__AVATAR__/avatar_<{$persons.photo}>" width="63" height="63"></if>
  <p>用户名：<{$persons.username}> <br>
    用户类型：<{$ranklist[$persons['user_rank']]}> <br>
	到期时间：<if condition="$persons['expires_time'] neq $persons['regtime']">
    <{$persons.expires_time|date='Y.m.d',###}><else/>永不过期</if></p>
  <div class="yhzx1 white"><a href="<{:U('Member/Person/index/')}>">个人中心</a></div>
  <div class="yhzx white"><a href="#">我要赞助</a></div>
  <div style="clear:both;display:block; "></div>
</div>
</if>
<div class="kx">
  <p>K线选股</p>
  <div class="xuangu">
  <ul>
    <Volist name="kxxg_list" id="articles" >
    <li class="q<{$key+1}>"><a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>"><{$articles.title}></a></li>
	</Volist>
  </ul>
  </div>
</div>
<div class="kx">
  <p>财报选股</p>
  <Volist name="cbxg_list" id="articles" >
  <div <if condition="$key+1 eq count($cbxg_list)">class="jzx"<else />class="czx"</if>><a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>"><{$articles.title}></a></div>
  </Volist>
</div>
<div class="kx">
<p>研报推荐</p>
<div class="ybtj">
	<ul>
		<Volist name="ybtj_list" id="articles" >
		<li>· <a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>"><{$articles.title}></a></li>
		</Volist>
	</ul>
</div>
<div style="clear:both;display:block; "></div></div>
<div class="kx">
<p>专题</p>
<div class="ybtj">
	<ul>
		<Volist name="zt_list" id="articles" >
		<li>· <a href="<{:U('Index/Article/index/',array('articleid'=>$articles['article_id']))}>"><{$articles.title}></a></li>
		</Volist>
	</ul>
</div>
<div style="clear:both;display:block; "></div></div>
</div>
<div style="clear:both;display:block; "></div>
</div>
<div class="di">
	<div class="page">
    <div  class="tt">EMAIL:xxx@xxxx.com QQ:3012644588<br>
本站所载文章及数据仅供分享，不可作为投资依据，股市有风险，入市需谨慎。</div></div>
</div>
</body>
</html>
<script>
$(document).ready(function(){
	 $("#comment").click(function(){
		if(this.value == '请在此处输入您的汇款账号以及意见，并点击提交'){
			this.value = '';
		}
	 });
	 $("#comment").blur(function(){
		if(this.value == ''){
			this.value = '请在此处输入您的汇款账号以及意见，并点击提交';
		}
	 });

});
</script>